.Sun h2,
th.Sun {
    color: #DD0000;
}

/*table#calendar {
    width: 500px;
    height: 240px;
}
*/

h2{
    margin: auto;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 90vh;
    border-collapse: collapse;
}

td, th {
    border: solid 1px #666;
    /*width: 100px;*/
}

input{
    text-align: right;
}

tr.day{
    height: 5%;
}

td{
    vertical-align: top;
    padding: 5px;
    display: table-cell;
    position: relative;
}

td > button {
    position: absolute;
    right: 6px;
    bottom: 6px;
}

th{
    vertical-align: middle;
}